*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    background: #000;
    color: white;
    font-family: "Oxygen", sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.home img {
    width: 100%;
    -webkit-filter: grayscale(80%) contrast (100%);
    filter: grayscale(100%) contrast(100%) brightness(100%);
}

.softwareskills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 40px 0;
}

.softwareskills .card {
    position: relative;
    min-width: 220px;
    height: 260px;
    box-shadow: inset 5px 5px 5px rgba(110, 89, 89, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 10px;
}

.softwareskills .card h2 {
    position: absolute;
    padding: 0px;
}


/* .softwareskills .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
} */

.softwareskills .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    box-shadow: 0, 20px, 50px, rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.softwareskills .card .box:hover {
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
}

.softwareskills .card .box .content {
    padding: 20px;
    text-align: center;
}

.softwareskills .card .box .content img {
    width: 40%;
    padding-right: 5%;
    padding-bottom: -5%;
}

.softwareskills .card .box .content h5 {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    transition: 0.5s;
}

.softwareskills .card .box .content p {
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    transition: 0.5s;
}

.softwareskills .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #000;
    margin-top: 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.softwareskills .card:nth-child(1) .box .content a {
    background: #2196f3;
}

.softwareskills .card:nth-child(2) .box .content a {
    background: #2196f3;
}

.softwareskills .card:nth-child(3) .box .content a {
    background: #2196f3;
}

.softwareskills .card:nth-child(4) .box .content a {
    background: #2196f3;
}

.softwareskills .card:nth-child(5) .box .content a {
    background: #2196f3;
}

.softwareskills text {
    padding-right: 80%;
    background-color: #fff;
    float: right;
}

aside {
    position: fixed;
    background: #222;
    top: 0px;
    left: 0px;
    width: 120px;
    height: 100%;
    overflow: none;
    z-index: 1;
    text-align: center;
    padding: 0;
}

aside img {
    filter: grayscale(100%) contrast(50%) brightness(100%);
    margin-bottom: -3px;
}

.material-icons.md-36 {
    font-size: 36px;
}

aside a {
    display: block;
    padding: 15px 0;
    color: white;
    transition: all 0.35s;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 2px;
}

aside p {
    margin: 0;
    padding: 0;
}

aside a:hover {
    background: #000;
}

aside nav a:nth-child(2) {
    background: #000;
}

aside nav a:nth-child(2):hover {
    background: #b2b2b2;
    color: #222;
}

main {
    max-width: 1080px;
    background: #000;
    margin-left: 15%;
    margin-right: 15%;
    padding: 12px 50px 12px 50px;
}

header {
    text-align: center;
    letter-spacing: 2px;
}

header h1 {
    font-weight: bold;
    font-size: 4em;
    letter-spacing: 4px;
}

header h5 {
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 4px;
    color: #b2b2b2;
}

.about,
.folio,
.contact {
    line-height: 1.5em;
    letter-spacing: 1px;
    font-weight: 300;
}

.about h2,
.folio h2,
.contact h2 {
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: line-through;
    padding-bottom: 10px;
    margin: 100px 0 0 0;
    letter-spacing: 4px;
}

.folio h3 {
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: underline;
    padding-bottom: 10px;
    margin: 100px 0 0 0;
    letter-spacing: 4px;
}

.about p {
    color: #b2b2b2;
}

.about span {
    font-weight: 600;
    color: white;
}

.about h3 {
    font-weight: 300;
    margin: 50px 0;
}

.container {
    width: 100%;
    background-color: #b2b2b2;
}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 30px;
    color: white;
    background-color: #424242;
}

.Csharp {
    width: 65%;
}

.html {
    width: 75%;
}

.css {
    width: 55%;
}

.js {
    width: 65%;
}

.jquery {
    width: 40%
}

.folio h3 {
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
}

.folio p {
    font-size: 0.875em;
}

.row-halves {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    -webkit-flex-pack: justify;
}

.row-halves .col {
    width: 49%;
}

.col {
    border: 1px solid #222;
    background: #222;
    color: #b2b2b2;
    padding: 10px;
}

label {
    color: #b2b2b2;
}

.tabbed {
    width: 100%;
    margin: 50px auto;
}

.tabbed>input {
    display: none;
}

.tabbed>label {
    display: block;
    float: left;
    padding: 12px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tabbed>label:hover,
.tabbed>input:checked+label {
    background: #e91e73;
}

.tabs {
    clear: both;
    perspective: 599px;
    margin-left: -50px;
}

.tabs>div {
    width: 700px;
    position: absolute;
    border: 4px solid #fff;
    padding: 10px 30px 40px;
    line-height: 1.4em;
    opacity: 0;
    transform: rotateX(-20deg);
    transform-origin: top center;
    transition: opacity 0.3s, transform 1s;
    z-index: 0;
    border-radius: 50px;
}

#tab-nav-1:checked~.tabs>div:nth-of-type(1),
#tab-nav-2:checked~.tabs>div:nth-of-type(2),
#tab-nav-3:checked~.tabs>div:nth-of-type(3),
#tab-nav-4:checked~.tabs>div:nth-of-type(4) {
    transform: rotateX(0);
    opacity: 1;
    z-index: 1;
}

form input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border: 1px solid #222;
    background: transparent;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: #b2b2b2;
}

form input[type="text"]:focus,
textarea:focus {
    outline: none;
    border: 1px solid #009688;
}

form input[type="text"]:hover,
textarea:hover {
    border: 1px solid #009688;
    outline: none;
    transition: all 2s;
}

input[type="submit"] {
    background-color: transparent;
    color: #b2b2b2;
    text-transform: uppercase;
    padding: 12px 20px;
    border: 1px solid #222;
    cursor: pointer;
    transition: all .35s;
}

input[type="submit"]:hover {
    background-color: #b2b2b2;
    color: #222;
    transition: all 2s;
}

.contact .container {
    margin-top: 50px;
    margin-bottom: 100px;
    background: transparent;
    padding: 20px 0px;
}

.contact h2 {
    margin-top: 500px;
}

.footer {
    border-top: 1px solid #222;
}

.top-bar {
    padding: 20px 0;
    text-align: center;
}

.top-bar a {
    margin: 10px;
    font-size: 2em;
    color: #b2b2b2;
    transition: all .35s;
    display: inline-block;
}

.top-bar a:hover {
    transform: scale(1.1);
    color: #009688;
}

.bottom-bar {
    background: #000;
    font-size: .75em;
    text-align: center;
}

@media (max-width: 768px) {
    .row-halves {
        display: block;
    }
    .row-halves .col {
        width: 100%;
        margin: 0 0 10px 0;
    }
}

@media (max-width: 601px) {
    aside {
        display: none;
    }
    main {
        width: 100%;
        margin: 0 auto;
        padding: 12px 25px;
    }
    header {
        margin-top: 80px;
    }
    header h1 {
        font-size: 3em;
        line-height: 1.4em;
    }
    header h5 {
        font-size: 1em;
        letter-spacing: 2px;
    }
    .mobile-nav {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background: rgba (0, 0, 0, .8);
        background-color: #222;
        z-index: 1;
    }
    .mobile-nav a {
        width: 100%;
        color: #b2b2b2;
        text-transform: uppercase;
        font-size: 0.875em;
        letter-spacing: center;
        padding: 10px 10px;
        transition: all .35s;
    }
    .mobile-nav a:hover {
        background: #b2b2b2;
        color: #222;
    }
}

@media (min-width: 600px) {
    .mobile-nav {
        display: none;
    }
}